# Project exclude paths
/venv/
/.idea/.gitignore
/.idea/csv-plugin.xml
/.idea/datafeeder.iml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
