{% extends 'base.html' %}
{% load static %}
{% block content %}




    <div class="row" style="padding: 100px" >

        <div class="col-sm-12" >
            <h4 class="text-centre alert alert-info" style="text-align: center">Edit the article</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Update">
            </form>
        </div>


    </div>


{% endblock %}
